body{
    font: 14px "Century Gothic", Futura, sans-serif;
    margin: 20px;
    padding: 0;
    margin: 0;
}
/*BIG CONTAINER --------------------------------- */
.big_container{
    width: 100vw;
    height: 100vh;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
/* BACKGROUND ------------------------------------ */
.background{
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
}
.background div{
    width: 100%;
    height: 50%;
}
.background .back1{
    background-color: #79abd3;
}
.background .back2{
    background-color: #9dffd3;
}
/* BIG SMART ----------------------------------- */
.big_smart{
    height: 50%;
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}
/* SMART ------------------------------------------*/
.smart{
    background-color: rgba(255,255,255,0.8);
    height: 100%;
    width: 30%;
    box-shadow: 0 0 5px 0 black;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    position: relative;
}
.smart h2{
    position: absolute;
    margin: 0;
    top: 5px;
}
.smart .points{
    width: 95%;
    min-height: 60%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    position: relative;
}
.smart .points p {
    width: 100%;
    background-color: #8bcabe;
    text-align: center;
}
.smart .points p:hover{
    cursor: pointer;
    box-shadow: 0 0 3px 0 black;
}
/* INPUT ---------------------------------------- */
